<html lang="en">
<%- include('./partial/head.ejs') %>

<body>
    <%- include('./partial/nav.ejs') %>


    <div class="not-found content">
        <h2>404 Not Found</h2>
        <h3>Khong co gi o day ca</h3>
    </div>
    <%- include('./partial/footer.ejs') %>

</body>
</html>