<html lang="en">
<%- include('./partial/head.ejs') %>

<body>
    <%- include('./partial/nav.ejs') %>


    <div class="about content">
        <h2>About us</h2>
        <h1>I'm Tung, a noob</h1>
    </div>
    <%- include('./partial/footer.ejs') %>

</body>
</html>